@font-face {
  font-family: 'mikelevin';
  src: url('../font/mikelevin.eot?52523556');
  src: url('../font/mikelevin.eot?52523556#iefix') format('embedded-opentype'),
       url('../font/mikelevin.woff?52523556') format('woff'),
       url('../font/mikelevin.ttf?52523556') format('truetype'),
       url('../font/mikelevin.svg?52523556#mikelevin') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'mikelevin';
    src: url('../font/mikelevin.svg?52523556#mikelevin') format('svg');
  }
}
*/
 
 [class^="pip-"]:before, [class*=" pip-"]:before {
  font-family: "mikelevin";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.pip-mikelevin-ambigram:before { content: '\e800'; } /* '' */
.pip-mikelevin-dot:before { content: '\e801'; } /* '' */
.pip-pipicon:before { content: '\e802'; } /* '' */
.pip-spin4:before { content: '\e803'; } /* '' */
.pip-spin3:before { content: '\e804'; } /* '' */
.pip-chrome:before { content: '\e805'; } /* '' */
.pip-stopsign:before { content: '\e806'; } /* '' */
.pip-stopsignpip:before { content: '\e807'; } /* '' */
.pip-stopblank:before { content: '\e808'; } /* '' */
.pip-help-circled:before { content: '\e809'; } /* '' */
.pip-ok:before { content: '\e80a'; } /* '' */
.pip-cog:before { content: '\e80b'; } /* '' */
.pip-circle-notch:before { content: '\e80c'; } /* '' */
.pip-attention:before { content: '\e80d'; } /* '' */
.pip-instagramm:before { content: '\e80e'; } /* '' */
.pip-angle-circled-right:before { content: '\e80f'; } /* '' */
.pip-lock:before { content: '\e810'; } /* '' */
.pip-info-circled:before { content: '\e811'; } /* '' */
.pip-circle-empty:before { content: '\e812'; } /* '' */
.pip-asterisk:before { content: '\e813'; } /* '' */
.pip-spinner:before { content: '\e814'; } /* '' */
.pip-circle:before { content: '\e815'; } /* '' */
.pip-toggle-off:before { content: '\e816'; } /* '' */
.pip-toggle-on:before { content: '\e817'; } /* '' */
.pip-check-empty:before { content: '\e818'; } /* '' */
.pip-check:before { content: '\e819'; } /* '' */
.pip-ok-circled:before { content: '\e81a'; } /* '' */
.pip-linkedin-squared:before { content: '\e81b'; } /* '' */
.pip-twitter-squared:before { content: '\e81c'; } /* '' */
.pip-block-1:before { content: '\e81d'; } /* '' */
.pip-ok-circled2:before { content: '\e81e'; } /* '' */
.pip-pinterest-circled:before { content: '\e81f'; } /* '' */
.pip-spin5:before { content: '\e820'; } /* '' */
.pip-youtube-play:before { content: '\e821'; } /* '' */
.pip-star:before { content: '\e822'; } /* '' */
.pip-tumblr-squared:before { content: '\e823'; } /* '' */
.pip-flickr:before { content: '\e824'; } /* '' */
.pip-google:before { content: '\e825'; } /* '' */
.pip-stumbleupon:before { content: '\e826'; } /* '' */
.pip-tumblr:before { content: '\e827'; } /* '' */
.pip-twitter:before { content: '\e828'; } /* '' */
.pip-star-filled:before { content: '\e829'; } /* '' */
.pip-help:before { content: '\e82a'; } /* '' */
.pip-bug:before { content: '\e82b'; } /* '' */
.pip-puzzle:before { content: '\e82c'; } /* '' */
.pip-record-outline:before { content: '\e82d'; } /* '' */
.pip-record:before { content: '\e82e'; } /* '' */
.pip-github-1:before { content: '\e82f'; } /* '' */
.pip-attention-circled:before { content: '\e830'; } /* '' */
.pip-menu:before { content: '\e831'; } /* '' */
.pip-mikelevin-logo:before { content: '\e832'; } /* '' */
.pip-pipulate:before { content: '\e833'; } /* '' */
.pip-mail:before { content: '\e834'; } /* '' */
.pip-spin6:before { content: '\e835'; } /* '' */
.pip-doc:before { content: '\e836'; } /* '' */
.pip-googleplus:before { content: '\e837'; } /* '' */
.pip-facebook-1:before { content: '\e838'; } /* '' */
.pip-help-circled-1:before { content: '\e839'; } /* '' */
.pip-calendar-1:before { content: '\e83a'; } /* '' */
.pip-doc-inv:before { content: '\e83b'; } /* '' */
.pip-magnet:before { content: '\e83c'; } /* '' */
.pip-windows-1:before { content: '\e83d'; } /* '' */
.pip-apple:before { content: '\e83e'; } /* '' */
.pip-linux:before { content: '\e83f'; } /* '' */
.pip-git:before { content: '\e840'; } /* '' */
.pip-windows:before { content: '\e841'; } /* '' */
.pip-help-2:before { content: '\e842'; } /* '' */
.pip-wordpress:before { content: '\e843'; } /* '' */
.pip-money:before { content: '\e844'; } /* '' */
.pip-circle-thin:before { content: '\e845'; } /* '' */
.pip-search:before { content: '\e846'; } /* '' */
.pip-html5:before { content: '\e847'; } /* '' */
.pip-cloud-flash-alt:before { content: '\e848'; } /* '' */
.pip-lock-open:before { content: '\e849'; } /* '' */
.pip-link-ext:before { content: '\e84a'; } /* '' */
.pip-lock-open-alt:before { content: '\e84b'; } /* '' */
.pip-book:before { content: '\e84c'; } /* '' */
.pip-download-cloud:before { content: '\e84d'; } /* '' */
.pip-upload-cloud:before { content: '\e84e'; } /* '' */
.pip-share:before { content: '\e84f'; } /* '' */
.pip-help-circled-2:before { content: '\e850'; } /* '' */
.pip-info-circled-1:before { content: '\e851'; } /* '' */
.pip-info:before { content: '\e852'; } /* '' */
.pip-help-1:before { content: '\e853'; } /* '' */
.pip-cancel-circled:before { content: '\e854'; } /* '' */
.pip-cancel-squared:before { content: '\e855'; } /* '' */
.pip-key:before { content: '\e856'; } /* '' */
.pip-megaphone:before { content: '\e857'; } /* '' */
.pip-info-1:before { content: '\e858'; } /* '' */
.pip-dot-circled:before { content: '\e859'; } /* '' */
.pip-heart:before { content: '\e85a'; } /* '' */
.pip-heart-filled:before { content: '\e85b'; } /* '' */
.pip-cloud-flash:before { content: '\e85c'; } /* '' */
.pip-quote-left:before { content: '\e85d'; } /* '' */
.pip-quote-right:before { content: '\e85e'; } /* '' */
.pip-play:before { content: '\e85f'; } /* '' */
.pip-chart-pie:before { content: '\e860'; } /* '' */
.pip-cloud-flash-inv:before { content: '\e861'; } /* '' */
.pip-star-1:before { content: '\e862'; } /* '' */
.pip-star-empty:before { content: '\e863'; } /* '' */
.pip-youtube-1:before { content: '\e864'; } /* '' */
.pip-email:before { content: '\e865'; } /* '' */
.pip-play-circled2:before { content: '\e866'; } /* '' */
.pip-chart:before { content: '\e867'; } /* '' */
.pip-ellipsis-vert:before { content: '\e868'; } /* '' */
.pip-ellipsis:before { content: '\e869'; } /* '' */
.pip-play-circled:before { content: '\e86a'; } /* '' */
.pip-target:before { content: '\e86b'; } /* '' */
.pip-block:before { content: '\e86c'; } /* '' */
.pip-video:before { content: '\e86d'; } /* '' */
.pip-emo-sunglasses:before { content: '\e86e'; } /* '' */
.pip-fast-food:before { content: '\e86f'; } /* '' */
.pip-play-circled-1:before { content: '\e870'; } /* '' */
.pip-play-circled2-1:before { content: '\e871'; } /* '' */
.pip-export:before { content: '\e872'; } /* '' */
.pip-spin1:before { content: '\e873'; } /* '' */
.pip-spin2:before { content: '\e874'; } /* '' */
.pip-cancel:before { content: '\e875'; } /* '' */
.pip-check-1:before { content: '\e876'; } /* '' */
.pip-ok-1:before { content: '\e877'; } /* '' */
.pip-ok-2:before { content: '\e878'; } /* '' */
.pip-ok-3:before { content: '\e879'; } /* '' */
.pip-ok-4:before { content: '\e87a'; } /* '' */
.pip-ok-circle:before { content: '\e87b'; } /* '' */
.pip-block-2:before { content: '\e87c'; } /* '' */
.pip-googleplus-rect:before { content: '\e87d'; } /* '' */
.pip-lock-1:before { content: '\e87e'; } /* '' */
.pip-lock-open-1:before { content: '\e87f'; } /* '' */
.pip-play-1:before { content: '\e880'; } /* '' */
.pip-pause:before { content: '\e881'; } /* '' */
.pip-stop:before { content: '\e882'; } /* '' */
.pip-to-end:before { content: '\e883'; } /* '' */
.pip-to-start:before { content: '\e884'; } /* '' */
.pip-fast-forward:before { content: '\e885'; } /* '' */
.pip-fast-backward:before { content: '\e886'; } /* '' */
.pip-angle-circled-left:before { content: '\e887'; } /* '' */
.pip-angle-circled-up:before { content: '\e888'; } /* '' */
.pip-angle-circled-down:before { content: '\e889'; } /* '' */
.pip-picirclelogo2:before { content: '\e88a'; } /* '' */