[Unit]
Description=Run Python script to handle scheduling

[Service]
Type=forking
Restart=always
RestartSec=5
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/github/pipcenter/
ExecStart=/usr/bin/screen -dmS pipcenter /home/ubuntu/py36/bin/python /home/ubuntu/github/pipcenter/pipcenter.py
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
