@font-face {
  font-family: 'mikelevin';
  src: url('./font/mikelevin.eot?73762107');
  src: url('./font/mikelevin.eot?73762107#iefix') format('embedded-opentype'),
       url('./font/mikelevin.woff?73762107') format('woff'),
       url('./font/mikelevin.ttf?73762107') format('truetype'),
       url('./font/mikelevin.svg?73762107#mikelevin') format('svg');
  font-weight: normal;
  font-style: normal;
}
pseudo.button {
  font-size: 16px;
  color: black;
}
body {
  background-color: #000000;
  color: #333;
  font-family: Nunito;
  font-size: 14px;
  height: 100%;
  overflow: hidden;
  width: 100%;
}
h1, h2, p, label {
  color: white;
}
#content{
  margin: 0px auto;
  min-height: 100%;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 43px;
  position: relative;
  text-align: center;
  width: 100%;
}
select {
  direction: rtl;
}
option {
  direction: ltr;
}
td, th {
  padding: .5em 2.4em .5em .6em; 
}
th {
  padding: 2px;
  text-align: center;
  width: 100%;
}
#pipform {
  margin-bottom: 5px;
}
.pipmenu {
  background-color: #ddd;
  background-color: lightsteelblue;
  font-size: 13px;
  height: 29px;
  padding-right: 32px;
  text-shadow: 0px 0px 0px black;
  width: -moz-calc(100% - 134px);
  width: -webkit-calc(100% - 134px);
  width: calc(100% - 134px);
}
#pipstream{
  background-color: slategrey;
  border: 2px solid lightgrey;
  height: 250px;
  line-height: 1.4em;
  margin-left: 0px;
  margin-right: 0px;
  overflow: auto;
  padding-bottom: 5px;
  padding-left: 8px;
  padding-right: 5px;
  padding-top: 5px;
  position: relative;
  text-align: left;
}
#magicdiv{
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 7px;
  position: relative;
  text-align:center;
}
#showurl {
  background-color: black;
  font-size: 12px;
  opacity: 0.2;
  text-align: center;
  text-color: white;
  width: 100%;
}
.pip-stopsign:before {
  font-size: 17px;
  line-height: 0;
}
.burger > i {
  color: black;
  font-size: 16px;
  margin-right: 6px;
}
a {
  color: #76BFFF;
}
.config {
  margin-left: auto;
  margin-right: auto;
  width: 580px;
}
.configinstructions {
  color: lightgrey;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  width: 700px;
}
#login {
  margin-top: 18px;
}
.pip {
  font-family: Paytone One;
}
.indoctrinate {
  color: white;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  width: 360px;
}
.indoctrinate > li:before{
  display: none;
}
#wrapper {
  height: 100%;
  position: relative;
}
#hypnotizethem {
  display: block;
  max-height: 100%;
  max-width: 100%;
  opacity: 0.05;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
[type=checkbox]+.checkable:after, [type=checkbox]+.checkable:before,
[type=radio]+.checkable:after, [type=radio]+.checkable:before {
  top: 10px;
}
[type=checkbox]+.checkable:before, [type=radio]+.checkable:before {
  border: 2px solid #fff;
}
nav{
  background-color: floralwhite;
}
#mode {
  color: grey;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 2px;
  margin-top: 2px;
}
#pipslate {
  background-color: slategray;
  border: 2px solid lightgrey;
  margin-bottom: 15px;
  overflow-y: scroll;
  padding-top: 0px;
  padding-top: 15px;
  position: relative;
}
#pipchoice {
  font-size: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
#piplock {
  color: white;
}
#pipurl {
  background-color: bisque;
  font-size: 15px;
  font-weight: bold;
  width: -moz-calc(100% - 53px);
  width: -webkit-calc(100% - 53px);
  width: calc(100% - 53px);
}
#learnsomething{
  background-color: lightgrey;
  font-size: 11px;
  height: 24px;
  line-height: 2.4;
  margin-bottom: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
#magicbox{
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  -webkit-border-radius:0px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  background-color: darkslategray;
  border-radius:0px;
  border: 2px solid lightgrey;
  box-sizing: border-box;         /* Opera/IE 8+ */
  color: white;
  margin-left: auto;
  margin-right:auto;
  margin-top: 0px;
  position: relative;
  width: 100%;
}
#pipulate{
  font-family: Paytone One;
  height: 29px;
  width: 128px !important;
}
#pastelabel{
  color: white;
  display: inline-block;
  font-family: Paytone One;
  font-size: 1.2em;
  letter-spacing: 2px;
  vertical-align: -2px;
  white-space:nowrap;
  width: 50px !important;
}
#paste{
  margin-bottom: 3px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  white-space:nowrap;
}
.cloud {
  color: white;
  font-size: 4em;
  margin-left: -40px;
  padding-top: 17px;
  position: absolute;
}
#stormyweather {
  display: none;
  left: 0;
  line-height: 6.5;
  margin-left: auto;
  margin-right:auto;
  margin-top: 30px;
  position: absolute;
  right: 0;
  width: 70px;
}
#arrow{
  color: #323232;
  font-size: 1.8em;
  font-weight: bold;
  position : relative;
  top:.2em;
}
#mobileinstructions {
  display: none;
  float: left;
  font-size: 8px;
  letter-spacing: -0.3px;
  line-height: 9px;
  margin-top: 6px;
  padding-left: 18px;
  text-indent: -2px;
  white-space: nowrap;
}
#dragdiv{
  float: left;
  margin-top: 10px;
  position: relative;
  white-space: nowrap;
}
#dragspan {
  font-family: monospace;
  font-size: smaller;
  font-style: italic;
  font-weight: bold;
  position: absolute;
  top: 4px;
}
#piplogo {
  max-width: 380px;
  position: relative;
  top: 36%;
  transform: translateY(-50%);
}
.bookmarklet{
  padding: 0px;
  float: left;
  list-style-type: none;
  margin-top: 2px;
  margin:5px 0px 8px 5px;
  padding-left: 26px;
} 
#plist > li {
  color: white;
  font-size: 13px;
  line-height: 15px;
  list-style-type: none;
}

#plist > li:before {
  -ms-transform-origin: -1.5em 7.5px;
  -webkit-animation: spin 2s infinite linear;
  -webkit-transform-origin: -1.5em 7.5px;
  animation: spin 2s infinite linear;
  content: '\e820';
  float: left;
  font-family: 'mikelevin';
  text-indent: -2em;
}

#plist > li.progress:before {
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
  content: "\e820"; 
}

#plist > li.checkbox:before {
  -webkit-animation: spin 0s;
  animation: spin 0s;
  content: "\e81e"; 
}

#plist > li.check:before {
  -webkit-animation: spin 0s;
  animation: spin 0s;
  content: "\e80a"; 
}

#plist > li.heart:before {
  -webkit-animation: spin 0s;
  animation: spin 0s;
  content: "\e85a"; 
}

#plist > li.warning:before {
  -webkit-animation: spin 0s;
  animation: spin 0s;
  content: "\e80d"; 
}
@media (min-width: 360px) and (max-width: 500px) {
  #mobileinstructions {
    display: block;
  }
}
@media (max-width: 500px) {
  #dragspan {
    display: none;
  }
  #dragdiv {
    display: none;
  }
}
@media (max-width: 1140px) and (min-width: 960px) {
  #dragdiv {
    display: none;
  }
}
@media (min-width: 960px) {
  #content {
    width: 960px;
  }
}

.pip-icon {
  font-family: "mikelevin";
  font-style: normal;
  font-weight: normal;
  color: white;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 1em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* You can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -webkit-transform-origin: 69% 50%;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.spinner {
  left: 0;
  line-height: 6.5;
  margin-left: auto;
  margin-right:auto;
  margin-top: 30px;
  position: absolute;
  right: 0;
  width: 70px;
}
.spinner > div {
  -webkit-animation-fill-mode: both;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation-fill-mode: both;
  animation: bouncedelay 1.4s infinite ease-in-out;
  background-color: #C6C6C6;
  border-radius: 100%;
  display: inline-block;
  height: 18px;
  width: 18px;
}
.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}
@keyframes bouncedelay {
  0%, 80%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

.pressthis{
  }
.pressthis a,.pressthis a:active,.pressthis a:focus,.pressthis a:hover{
  -webkit-border-radius:5px;
  background:#ddd;
  border-radius:5px;
  border:1px solid #b4b4b4;
  display:inline-block;
  font-family:Paytone One;
  font-size:15px;
  letter-spacing: -1.5px;
  move;color:#333;
  padding: 2px;
  position:relative;cursor:
  text-decoration:none}
.pressthis a:active{
  outline:0}
.pressthis a:hover:after{
  -webkit-transform:skew(20deg) rotate(9deg);
  -ms-transform:skew(20deg) rotate(9deg);
  transform:skew(20deg) rotate(9deg);
  -webkit-box-shadow:0 10px 8px rgba(0,0,0,.7);
  box-shadow:0 10px 8px rgba(0,0,0,.7)}
.pressthis a span{
  display:inline-block;
  margin-left:8px;
  margin-right:10px;
  }
.pressthis a span:
  before{color:#777;
  font:400 20px/1 ;
  position:relative;
  display:inline-block;
  top:4px;
  margin-right:4px}
.pressthis a:after{
  content:'';
  width:70%;
  height:55%;
  z-index:-1;
  position:absolute;
  right:10px;
  bottom:9px;
  background:0 0;
  -webkit-transform:skew(20deg) rotate(6deg);
  -ms-transform:skew(20deg) rotate(6deg);
  transform:skew(20deg) rotate(6deg);
  -webkit-box-shadow:0 10px 8px rgba(0,0,0,.6);
  box-shadow:0 10px 8px rgba(0,0,0,.6)}
