<!doctype html>
<html>
<head>
<title>Pipulate</title>
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.4/jquery.mobile-1.4.4.min.css" />
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="http://code.jquery.com/mobile/1.4.4/jquery.mobile-1.4.4.min.js"></script>
<script>$.mobile.ajaxEnabled = false;</script>
<script>
  if (location.hash) {
    var myhash = location.hash
    myhash = myhash.substring(1, myhash.length);
    window.location = 'http://localhost:8080?' + myhash;
  }
</script>
</head>
<body>
<div data-role="page" class="jqm-demos ui-responsive-panel" id="panel-responsive-page1" data-title="Panel responsive page" data-url="panel-responsive-page1">
    <div data-role="header">
        <h1>PIPULATE</h1>
        <a href="#nav-panel" data-icon="bars" data-iconpos="notext">Menu</a>
        <a href="#add-form" data-icon="gear" data-iconpos="notext">Add</a>
    </div><!-- /header -->
    <div role="main" class="ui-content jqm-content jqm-fullwidth">
        <form method="POST" action="/" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            {{ form.pipurl.label }} {{ form.pipurl(size=500) }}<br/>
            {{ form.csvfile.label }} {{ form.csvfile() }}<br/>
            <div style="text-align:center;">
            <button class="ui-btn ui-icon-arrow-r ui-btn-icon-right ui-btn-inline" type="submit" value="Pipulate">pipulate</button>
            </div>
            {% if filename %}
            <div style="text-align:center;">
            Click to download pipulated <a href="/files/{{ filename }}">{{ filename }}</a> file.
            </div>
            {% endif %}
            {{ session['oa2'] }}
        </form>
    </div><!-- /content -->
    <div data-role="panel" data-display="push" data-theme="b" id="nav-panel">
        <ul data-role="listview">
            <li data-icon="delete"><a href="#" data-rel="close">Close menu</a></li>
                <li><a href="#">Sample option 1</a></li>
                <li><a href="#">Sample option 2</a></li>
                <li><a href="#">Sample option 3</a></li>
        </ul>
    </div><!-- /panel -->
    <div data-role="panel" data-position="right" data-display="reveal" data-theme="a" id="add-form">
        <form class="userform">
            <h2>Login</h2>
            <label for="name">Username:</label>
            <input type="text" name="name" id="name" value="" data-clear-btn="true" data-mini="true">
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" value="" data-clear-btn="true" autocomplete="off" data-mini="true">
            <div class="ui-grid-a">
                <div class="ui-block-a"><a href="#" data-rel="close" class="ui-btn ui-shadow ui-corner-all ui-btn-b ui-mini">Cancel</a></div>
                <div class="ui-block-b"><a href="#" data-rel="close" class="ui-btn ui-shadow ui-corner-all ui-btn-a ui-mini">Save</a></div>
            </div>
            Drag this to bookmark toolbar: <a href="{{ bookmarklet }}">Pipulate</a>
            <br/><a href="{{ loginlink }}">Login</a>
        </form>
    </div><!-- /panel -->
</div>


</body>
</html>
