<!doctype html>
<html>
  <head>
    <title>Pipulate</title>
    <LINK href="/static/styles.css" rel="stylesheet" type="text/css">
    <script>
      if (location.hash) {
        var myhash = location.hash
        if (myhash.indexOf('access_token') > 0) {
          myhash = myhash.substring(1, myhash.length);
          window.location = "http://{{ request.headers['Host'] }}?" + myhash;
        }
      }
    </script>
  </head>
  <body>
    <h1>PIPULATE</h1>
    <p class="pressthis" style="text-align: center">Drag this to Bookmark bar (if you haven't already) --&gt; <a href="{{ bookmarklet }}" onclick="return false;" oncontextmenu="if(window.navigator.userAgent.indexOf('WebKit')!=-1||window.navigator.userAgent.indexOf('MSIE')!=-1){jQuery('.pressthis-code').show().find('textarea').focus().select();return false;}"><span>Pipulate</span></a>
    <form method="POST" action="/" enctype="multipart/form-data">
      {{ form.pipurl.label }} {{ form.pipurl(size=100) }}<br/>
    <input type="submit" value="Pipulate it" name="submit">
        <a href="{{ loginlink }}">Login with Google</a>
    </form>
    {% if session %}
    <a href="http://{{ request.headers['Host'] }}?logout">Logout</a>
    <br/>
    {% endif %}
    {% for msg in data: %}
      {{ msg }}<br/>
    {% endfor %}
  </body>
</html>
