<!doctype html>
<html>
<head>
<title>Send javascript with template demo</title>
<script>
  if (location.hash) {
    var myhash = location.hash
    if (myhash.indexOf('access_token') > 0) {
      myhash = myhash.substring(1, myhash.length);
      window.location = "http://{{ request.headers['Host'] }}?" + myhash;
    }
  }
</script>
<style>
  #data {
    text-align: center;
  }
</style>
<script src="http://code.jquery.com/jquery-latest.js"></script>
</head>
<body>
<h1>Test</h1>
<a href="{{ loginlink }}">Login</a>
<form method="POST" action="/" enctype="multipart/form-data">
{{ form.hidden_tag() }}
{{ form.pipurl.label }} {{ form.pipurl(size=500) }}<br/>
<input data-role="button" data-inline="true" data-icon="arrow-r" data-iconpos="right" type="submit" value="Pipulate it" name="submit" data-theme="b">
</form>
<div id="data">nothing received yet</div>
{% for i, c in data: %}
<script>
  $("#data").text("{{ i }} {{ c }}")
</script>
{% endfor %}
</body>
</html>
